@font-face { font-family: clearface; src: url('assets/Clearface.ttf') format('truetype'); } 
@font-face { font-family: adieu; src: url('assets/Adieu-Light.ttf') format('truetype'); } 

:root { --pink: #F7D9D3; --blue: #5267AB; --yellow: #f3be22; --red: #ee4e2b; --green: #019563; --bg:''; } 
html { font-size: 6.25%; } 
body { margin: 0; padding: 0; box-sizing: border-box; overflow-x: hidden; } 
#root { width: 100vw; height: 100vh; } 
.super-container { padding: 0 20rem; } 
.wrap { width: 100%; margin: 0 auto; padding: 100rem 0; } 
.wrapper { background: var(--pink); 
 height: 380rem; border-radius: 20px; 
 overflow: hidden; position: relative; 
 padding: 20rem; z-index: 66; } 
.clone { --color:''; width: 100rem; height: 100rem; border-radius: 50%; 
 position: absolute; z-index: 1; cursor: pointer; text-align: center; 
 font-size: 100rem; color: var(--red); 
 transition: all .5s; will-change: transform; } 

 .clone span{display: inline-block;}
.circle { position: absolute; background-color: var(--bg); will-change: transform; aspect-ratio: 1 / 1; transform-origin: center center; } 
.shake { animation: shake 0.2s ease-in-out infinite alternate; } 
 
@keyframes shake {
    0% { transform: translate3d(0, 0, 0) rotate(0deg); }
    100% { transform: translate3d(4px, -4px, 0) rotate(5deg); }
  }
  @media (max-width: 768px){
    .clone{ font-size: 80rem;}
}
@media (max-width: 540px){
    .clone{ font-size: 50rem;}
}
@media (max-width: 460px){
    .clone{ width: 30rem; height: 30rem;}
}
.work{background: #019563;}



.overlay{position: fixed; width: 100vw; height: 100vh; background: var(--pink); left: 0; top: 0; border-radius: 20px; transform: scale(1.1); z-index: 0; }



.overlay-inner{width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;}
    .overlay-inner div {font-size: 80rem;}