@font-face { font-family: clearface; src: url('assets/Clearface.ttf') format('truetype'); } 
@font-face { font-family: adieu; src: url('assets/Adieu-Light.ttf') format('truetype'); } 

:root { --pink: #F7D9D3; --blue: #5267AB; --yellow: #f3be22; --red: #ee4e2b; --green: #019563; --bg:''; } 
html { font-size: 6.25%; } 
body { margin: 0; padding: 0; box-sizing: border-box; overflow-x: hidden; } 
#root { width: 100vw; height: 100vh; } 
.super-container { width: 100%; } 
.wrap { width: 100%; max-width: 1480rem; margin: 0 auto; padding: 100rem 0; } 
.wrapper { background: var(--pink); 
 height: 380rem; border-radius: 20px; 
 overflow: hidden; position: relative; 
 padding: 20rem; } 
.clone { --color:''; width: 130rem; height: 130rem; border-radius: 50%; 
 position: absolute; z-index: 1; cursor: pointer; text-align: center; 
 font-size: 100rem; color: var(--red); 
 transition: all .5s; will-change: transform; } 


.circle { position: absolute; background-color: var(--bg); will-change: transform; aspect-ratio: 1 / 1; transform-origin: center center; } 
.shake { animation: shake 0.2s ease-in-out infinite alternate; } 
 
@keyframes shake { 
    0% { transform: translate(0, 0); } 
    100% { transform: translate(2px, 2px) rotate(10deg); } 
} 
 
@media (max-width: 540px){
    .clone{font-size: 20rem;}
}

.work{background: #019563;}



.overlay{position: fixed; width: 100vw; height: 100vh; background: var(--pink); left: 0; top: 0; }



.overlay-inner{width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;}
    .overlay-inner div {font-size: 80rem;}